@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(126, 246, 255, 0);
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: fit-content;
  background: linear-gradient(-216deg, #f0eee8 51%, #f7cac9 85%);
  margin: 0;
  font-weight: 100;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

p {
  line-height: 30px;
  font-size: 24px;
}

i {
  font-size: 1.4rem;
}

.navigation {
  position: fixed;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 2px 10px;
  margin: 0;
  background-color: transparent;
  color: black;
  background-color: transparent;
  transition: 0.5s background-color ease;
  transition: 0.8s height ease;
  width: 100vw;
  z-index: 1;
}

.mobile-indicator {
  font-size: 1.3rem;
  color: white;
}

.navigation-links {
  display: flex;
  justify-content: center;
  width: 60%;
}

.typed-cursor {
  display: none;
}

.navigation-white {
  background-color: rgb(250, 250, 250);
  height: 70px;
}

.navigation-items-top {
  color: white;
  width: 80px;
  border-radius: 50%;
  margin: 1rem auto;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-decoration-thickness: from-font;
  text-shadow: 1px 1px 2px rgb(190, 190, 190);
  font-style: italic;
  font-variant: petite-caps;
  font-size: 1.5rem;
  transition: all 0.5s;
  transition: box-shadow 2s;
  letter-spacing: 3px;
}

.navigation-items-top:hover {
  color: white;
  /*background-color: #F8E462;*/
  box-shadow: 1px 2px 15px #f8e462;
  transition: box-shadow 1s;
}

.navigation-items-bottom {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  font-style: normal;
}

.navigation-items-bottom:hover {
  color: white;
  /*background-color: #F8E462;*/
  box-shadow: 1px 2px 15px rgb(39, 60, 44);
  transition: box-shadow 1s;
}

.banner {
  background-image: linear-gradient(
      -216deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(230, 230, 230, 0.2) 50%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("profile.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 8px 5px rgba(200, 230, 230, 0.3);
}

.container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 2000px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
  }

  .navigation-links {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }

  .navigation {
    display: none;
  }
}

.cards {
  min-height: 100vh;
  border-bottom: solid 0.1px rgb(230, 230, 230);
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.cards:last-of-type {
  border-bottom: none;
  margin: 20px 0 20px 0;
}

.card-portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border-radius: 4px;
  box-shadow: 3px 5px 20px rgba(200, 200, 200, 0.1);
  overflow: auto;
}

.card-front > img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.card-front > img:last-child {
  display: none;
}

@media (min-width: 768px) {
  .card-front > img:first-child {
    display: none;
  }

  .card-front > img:last-child {
    object-fit: contain;
    display: block;
  }
}

.card-back {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.6);
  color: white;
}

.card-back > p {
  padding: 30px;
}

.card-back > a {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
}

.card-portfolio:hover > .card-back {
  opacity: 1;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 42px;
  padding: 0px 10px;
}

.footer-links > a > i {
  font-size: 42px;
}

.footer-links a:hover {
  opacity: 1;
}

#portfolio {
  padding: 100px 0 100px 0;
}

#portfolio > h2 {
  margin-bottom: 4rem;
}
