html {
  scroll-behavior: smooth;
}

body{
  background-color: rgba(126, 246, 255,0);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: fit-content;
  background: linear-gradient(-216deg, #F0EEE8 51%, #F7CAC9 85%);
}

h1{
  text-align: center;
}

.navigation{
  position: fixed;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: transparent;
  color: black;
  background-color: transparent;
  transition: 0.5s background-color ease;
  transition: 0.8s height ease;
  width: 100vw;
}

.navigation-links {
  display: flex;
  justify-content: center;
  width: 60%;
}

.typed-cursor {
  display: none;
}

.navigation-white {
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 8px 5px rgba(200, 230, 230, 0.3);
  height: 50px;
}

.navigation-items {
  width: 80px;
  border-radius: 50%;
  margin: 1rem auto;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-decoration-thickness: from-font;
  text-shadow: 1px 1px 2px rgb(190, 190, 190);
  font-style: italic;
  font-variant: petite-caps;
  font-size: 1.2rem;
  transition: all 0.5s;
}

.navigation-items:hover {
  color: black;
  background-color: #F8E462;
}

a {
  color: white;
}

a:hover {
  color: black;
  text-decoration: none;
}

.banner{
  background-image: linear-gradient(rgba(230,230,230,0.2), rgba(230,230,230,0.4)), url("profile.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 8px 5px rgba(200, 230, 230, 0.3);
}

.my-container{
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 2000px) {
  .my-container{
    width: 700px;
  }
}

@media (max-width: 768px) {
  .my-container{
    width: 500px;
  }

  .navigation-links {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .my-container{
    width: 300px;
  }

  .navigation {
    display: none;
  }
}

.cards {
  height: 100vh;
  border-bottom: solid 0.1px rgb(230, 230, 230);
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.cards:last-of-type {
  border-bottom: none;
  margin: 20px 0 20px 0;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 42px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}
