body{
  background-color: rgba(126, 246, 255,0);
}

h1{
  text-align: center;
}

.navigation{
  position: fixed;
  padding: 1rem 0;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: black;
  background-color: transparent;
  transition: 0.5s background-color ease;
  width: 100vw;
}

.navigation-white {
  background-color: white;
}

.navigation-items{
  border: solid 1px rgba(80, 80, 80, 0.9);
  padding: 0 2px;
  border-radius: 8px;
  margin: 4px 4px;
  background-color: rgba(230, 230, 230, 0.7)
}

a {
  color: rgba(80, 80, 80, 0.9);
}

a:hover {
  color: rgba(80, 80, 80, 0.9);
  font-weight: bold;
  text-decoration: none;
}

.banner{
  background-image: linear-gradient(rgba(230,230,230,0.2), rgba(230,230,230,0.2)), url("profile.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-container{
  height: 100%;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cards{
  padding-bottom: 300px;
  border-bottom: dotted 1px black;
  margin: 20px 0 20px 0;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 42px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
